body {
  min-height: 2000px;
}
.jumbotron {
  padding-top: 5rem;
  background-color: #71ec85;
}
#project {
  background-color: #71ec85;
}
section {
  padding-top: 8rem;
}
.gallery img {
  width: 100%;
}
.gallery .row > * {
  padding: 0;
}
